.contact {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 360px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid cadetblue;
}

.btn {
  font-family: "Poppins", sans-serif;
  width: 200px;
  height: 55px;
  padding-top: 5px;
  margin-top: 20px;
  border-radius: 30px;
  text-align: center;
  color: white;
  background-color: cadetblue;
  font-size: 30px;
  font-weight: 300;
}

input::placeholder {
  color: white;
}

.social-buttons {
  position: sticky;
  right: 0;
  text-align: right;
  bottom: 300px;
}

.social {
  margin: 30px;
}

@media only screen and (max-width: 1000px) {
  .social-buttons {
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }

  input {
    width: 300px;
    font-size: 20px;
  }

  .contact h2 {
    font-size: 38px;
    margin-bottom: 70px;
  }
}
