.counter {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 100px;
}

.box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.counter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  gap: 0.5rem;
}

.item-digits {
  font-size: 3rem;
  font-weight: 700;
}

.item-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

@media only screen and (max-width: 425px) {
  .box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .counter-item {
    flex-direction: column;
    width: 100%;
    gap: 5px;
    text-align: center;
  }

  .item-digits {
    font-size: 2rem;
  }
  .item-text {
    font-size: 0.8rem;
  }
}
