.counter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.counter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  gap: 0.5rem;
}

.item-digits {
  font-size: 3rem;
  font-weight: 700;
}

.item-text {
  font-size: 1rem;
  font-weight: 500;
}
