.skills {
  width: 90%;
  height: 18rem;
  position: absolute;
  transform: translate(-50%, -45%);
  left: 50%;
  overflow: hidden;
  box-shadow: -1px 5px 15px black;
  border: solid 1px whitesmoke;
  border-radius: 20px;
  background: rgb(0 0 0 / 52%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.skills h2 {
  margin: 0;
  font-size: 2rem;
}

.cubes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.wrapper {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  /*position: absolute;
  animation: slide 30s linear infinite;*/
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 15px;
  width: 3rem;
  height: 4rem;
}

.icon-container p {
  display: block;
  font-size: 0.7rem;
}

@keyframes slide {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
