.home {
  height: 70vh;
  padding: 70px;
}

.home-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  height: 80%;
}

.content-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--black);
}

.social-icons {
  display: flex;
  padding-top: 15px;
  gap: 0.5rem;
}

.social-item {
  width: 45px;
  height: 45px;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid var(--primary);

  svg {
    fill: var(--primary);
    width: 60%;
  }

  &:hover {
    border-width: 3px;
  }
}

.skills-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 5px solid var(--primary);
  background-image: url("../Images/Programming-amico.png");
  background-size: cover;
}

.skills-item {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}
