.projects-dock {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-evenly;
}

.line {
  height: 1px;
  width: 90%;
  background-color: #a7a7a7;
}

.card {
  position: relative;
  transition: all 0.5s ease-in;
  margin-top: 15px;
  margin-left: 15px;
}

.card-image {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #505050ad;
  border-radius: 50px;
  backdrop-filter: blur(5px);
}

.card:hover .card-overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.overlay-text .button {
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .projects-dock {
    display: flex;
    flex-wrap: wrap;
  }
}
