.projects-dock {
    display: flex;
    justify-content: space-around;
}

.line {
  height: 1px;
  width: 90%;
  background-color: #a7a7a7;
}

.project-card {
    width: 400px;
    height: 500px;
    box-shadow: 5px 5px 20px #a7a7a7;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 15px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.project-image {
    width: 260px;
    height: 260px;
    margin-top: 25px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: cadetblue;
    font-size: 22px;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .projects-dock {
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    position: relative;
    transition: all .5s ease-in;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  
  .card-image {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50px;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #505050ad;
    border-radius: 50px;
    backdrop-filter: blur(5px);
  }
  
  .card:hover .card-overlay {
    opacity: 1;
  }
  
  .overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  

  .overlay-text p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 10px;
  }

  .overlay-text .button {
    margin-top: 40px;
  }