.mySwiper {
  width: 100%;
  padding: 20px 0;
}

.carousel-slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.5;
  transform: scale(0.85);
  filter: blur(2px);
  z-index: 1;
}

.swiper-slide {
  width: 750px;
  height: 650px;

  img {
    border-radius: 15px;
    width: 700px;
    height: 600px;
    object-fit: cover;
  }
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  z-index: 10;
}
