@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  --primary: #226ce0;
  --secondary: #43816d;
  --white: #fcf7ff;
  --black: #1a181b;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 120px;
  padding-bottom: 100px;
  width: 100%;
}

.image-container {
  display: flex;
  align-items: center;
}

.image {
  width: 200px;
  border-radius: 200px;
  padding: 80px;
}

.hamburger {
  display: none;
}

/* new desing */

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.primary-btn {
  /* background-color: var(--primary);
  color: var(--white);
  font-weight: 300;
  border-radius: 1rem;
  padding: 5px 20px;
  text-decoration: none;
  border: 1px solid rgb(26 26 26 / 20%);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 40%);

  &:hover {
    font-weight: 500;
    border: 1px solid rgb(26 26 26 / 50%);
  } */
  padding: 15px 25px;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  background-color: var(--primary);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: 1px solid rgb(26 26 26 / 20%);
  color: var(--white);

  &:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgb(34 108 224 / 36%);
    color: var(--primary);
    transform: translateY(3px);
  }

  &:active {
    transform: translateY(1px);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  padding: 30px;
}

.nav-title {
  font-size: 2rem;
  color: var(--black);
}

.navbar-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navbar-item {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.navbar-item:hover {
  color: var(--primary);
}

.highlight-text {
  color: var(--primary);
}

@media only screen and (max-width: 1000px) {
  .image {
    display: none;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    margin: 20px;
    align-self: flex-end;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #21243f;
  }

  ul {
    display: none;
    margin: 0px;
    background-color: #21243f;
  }

  ul.show {
    display: block;
    align-self: flex-start;
  }
}
